/* styles.css */

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(60deg, rgb(50, 50, 50), rgb(128, 128, 128));
  overflow: hidden;
}

.header-bar {
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  align-self: top;
  top: 0;
  left: 0;
  z-index: 1000;
}

.welcome {
  content: "Aspect Games";

  font-size: 54px;
  color: #ffffff;
  font-family: "Aileron", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 20px;
  padding: 40px;
  align-self: center;
  opacity: 0; /* Start with 0 opacity */
  animation: fadeIn 1.5s ease-in-out forwards; /* Adjustable time (1s in this example) */
}

.welcome.fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}
.welcome.fadeOut {
  animation: fadeOut 1.5s ease-in-out forwards; /* Use the fadeOut animation */
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.scroll-arrow {
  font-size: 54px;
  color: #ffffff;
  padding: 40px;
  animation: bounce 2s infinite alternate ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
